.center {
	display: flex;
	justify-content: center;
}

.center-text {
	text-align: center;
}

table,
th,
td {
	border: 1px solid black;
}

/* Design table */
.design th {
	background-color: lightskyblue;
	height: 30px;
}

.design tr:nth-child(2n + 1) {
	background-color: #aaaaaa;
}
.design tr:hover {
	background-color: #444444;
	color: white;
}
.collapse {
	border-collapse: collapse;
}

.width-75 {
	width: 75%;
}
/* descendant selector (space)
child selector (>)
adjacent sibling selector (+)
general sibling selector (~) */
